{% extends "base.html" %}
{% block title %}DEVNETX - Dashboard{% endblock %}
{% block content %}
<div class="title pb-20">
    <h2 class="h3 mb-0">Overview</h2>
</div>
<div class="row pb-10">
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-24 text-dark">05</div>
                    <div class="font-14 text-secondary weight-500">
                        Assigned Tasks
                    </div>
                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#00eccf">
                        <i class="icon-copy  ti-dashboard"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-24 text-dark">80%</div>
                    <div class="font-14 text-secondary weight-500">
                        Task Completion Rate
                    </div>
                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#ff5b5b">
                        <span class="icon-copy ti-cup"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-24 text-dark">03</div>
                    <div class="font-14 text-secondary weight-500">
                        Upcoming Deadlines
                    </div>
                </div>
                <div class="widget-icon">
                    <div class="icon">
                        <i class="icon-copy fa ti-stats-down" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 mb-20">
        <div class="card-box height-100-p widget-style3">
            <div class="d-flex flex-wrap">
                <div class="widget-data">
                    <div class="weight-700 font-24 text-dark">95%</div>
                    <div class="font-14 text-secondary weight-500">Attendance Record</div>
                </div>
                <div class="widget-icon">
                    <div class="icon" data-color="#09cc06">
                        <i class="icon-copy fa ti-calendar" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="title pb-20 pt-20">
    <h2 class="h3 mb-0">Quick Start</h2>
</div>

<div class="row">
    <div class="col-md-4 mb-20">
        <a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
            <div class="img pb-30">
                <img src="{{ url_for('static', filename='vendors/images/medicine-bro.svg') }}" alt="" />
            </div>
            <div class="content">
                <h3 class="h4">Web Development</h3>
                <p class="max-width-200">
                    We create dynamic, user-friendly web applications and websites that cater to your
                    business needs.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 mb-20">
        <a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
            <div class="img pb-30">
                <img src="{{ url_for('static', filename='vendors/images/remedy-amico.svg') }}" alt="" />
            </div>
            <div class="content">
                <h3 class="h4">SEO Services</h3>
                <p class="max-width-200">
                    Our SEO strategies ensure your website ranks high and attracts the right audience.
                </p>
            </div>
        </a>
    </div>
    <div class="col-md-4 mb-20">
        <a href="#" class="card-box d-block mx-auto pd-20 text-secondary">
            <div class="img pb-30">
                <img src="{{ url_for('static', filename='vendors/images/paper-map-cuate.svg') }}" alt="" />
            </div>
            <div class="content">
                <h3 class="h4">Telebot Solutions</h3>
                <p class="max-width-200">
                    We specialize in building intelligent bots to streamline communication and automate
                    tasks.
                </p>
            </div>
        </a>
    </div>
</div>
{% endblock %}